@font-face {
  font-family: 'Pixeboy';
  src: url('../fonts/Pixeboy.woff2') format('woff2'),
    url('../fonts/Pixeboy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArcadeClassic';
  src: url('../fonts/ArcadeClassic.woff') format('woff'),
    url('../fonts/ArcadeClassic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


body,
main {
  font-family: 'Pixeboy', 'ArcadeClassic';
  text-align: center;
  background-color: #393e46;
  color: aqua;
  box-sizing: content-box;
  height: 100vh;
}

h1,
h2,
h3 {
  letter-spacing: 2px;
  text-shadow: 2px 1px 0px #FFFF;
}

canvas {
  margin: 0 auto;
  background-color: #000000;
}

.machine {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-image: url('../img/backgrounds/bg-arcade.png');
  background-repeat: no-repeat;
  background-position: center; */
}

.btn {
  box-shadow: 2px 1px 0px #FFF;
}

#intro,
#video,
#game,
#dificulty,
#interface {
  margin: 0px auto;
  background-color: #000000;
  overflow: hidden;
}



#intro {
  text-align: center;
}

#interface {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  height: 2.5rem;
  padding: 0.3125rem;
  margin-top: -10px;
}


.animate__animated.animate__backInRight {
  --animate-delay: 1s;
}

.animate__animated.animate__pulse {
  --animate-repeat: 5;
  --animate-delay: 0s;
  --animate-duration: .5s;
}

.animate__animated.animate__zoomInRight {
  --animate-duration: 6s;
}

@media (min-width: 576px) {

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.2rem;
  }
}


@media (min-width: 768px) {

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.2rem;
  }
}


@media (min-width: 992px) {
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  .machine {
    background-size: auto 120%;
  }

  #screen {
    margin-top: -180px;
  }
}