/* @font-face {
  font-family: 'Pixeboy';
  src: url('../fonts/Pixeboy.woff2') format('woff2'),
    url('../fonts/Pixeboy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: 'ArcadeClassic';
  src: local('ArcadeClassic'), local('ArcadeClassic'), url('../fonts/ArcadeClassic.woff') format('woff'), url('../fonts/ArcadeClassic.woff2') format('woff2');
  letter-spacing: 1px;
  word-spacing: 3px;
  font-weight: normal;
  font-style: normal;
}

body,
main {
  font-family: 'Pixeboy', 'ArcadeClassic';
  text-align: center;
  background-color: #04c2f9;
  color: aqua;
  font-size: 16px;
  box-sizing: content-box;
  height: 100vh;
}

canvas {
  margin: 0 auto;
  background-color: #000000;
}

.machine {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../img/backgrounds/bg-arcade.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}


#intro,
#video,
#game,
#interface {
  margin: 0 auto;
  background-color: #000000;
}

#interface {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  height: 2.5rem;
  padding: 0.3125rem;
  margin-top: -10px;
}