@font-face {
  font-family: 'Pixeboy';
  src: url('../fonts/Pixeboy.woff2') format('woff2'),
    url('../fonts/Pixeboy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArcadeClassic';
  src: url('../fonts/ArcadeClassic.woff') format('woff'),
    url('../fonts/ArcadeClassic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


body,
main {
  font-family: 'Pixeboy', 'ArcadeClassic';
  text-align: center;
  color: aqua;
  box-sizing: content-box;
  overflow: hidden;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
}

h1,
h2,
h3 {
  letter-spacing: 2px;
  text-shadow: 2px 1px 0px #FFFF;
  margin-bottom: 0;
}

h1.card-title {
  text-shadow: none
}

canvas {
  margin: 0 auto;
  background-color: #000000;
}

#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000000;
}


.machine {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
}

.btn {
  box-shadow: 2px 1px 0px #FFF;
}

#intro,
#video,
#game,
#dificulty,
#interface,
#credits {
  margin: 0px auto;
  background-color: #000000;
  overflow: hidden;
}



#intro {
  text-align: center;
}

#credits {
  overflow: hidden;
  overflow-y: auto
}

#credits h4 {
  margin-bottom: 0;
}

.ohana {
  max-height: 150px;
}

.w-100 {
  width: 100%
}

.mb-n-25 {
  margin-bottom: -25px;
}

#interface {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #393e46;
  padding: 0 0.3125rem 0.3125rem;
  margin-top: -0.625rem;
}

#interface>div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 0.3125rem;
}

#interface>div:first-child {
  margin-left: 0.625rem;
}

#interface>div>span {
  margin-left: 0.625rem;
  color: azure;
}

.progress {
  margin-left: 0.625rem;
  min-width: 200px;
  border-radius: 0px;
}

.progress-bar {
  background-color: aqua;
  color: black;
}

.progress-bar.full {
  background-color: red;
}

.lives img {
  max-height: 25px;
  margin-right: 0.8rem;
}

.lives:last-child img {
  margin-right: 0;
}

.buttons {
  align-items: flex-end;
}

.buttons a {
  border-radius: 0px;
  box-shadow: none;
}

.animate__animated.animate__backInRight {
  --animate-delay: 1s;
}

.animate__animated.animate__pulse {
  --animate-repeat: 5;
  --animate-delay: 0s;
  --animate-duration: .5s;
}

.animate__animated.animate__zoomInRight {
  --animate-duration: 3s;
}


@media (min-width: 576px) {

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.2rem;
  }
}


@media (min-width: 768px) {

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.2rem;
  }
}


@media (min-width: 992px) {
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.4rem;
  }
}